
    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="inner cover" id="title">
            <h1 class="cover-heading">Association des femmes du Morillon</h1>
            <p class="lead">L'association organise des sorties, des projets et des ateliers afin de sortir les femmes de leur isolement</p>
          </div>

          <div class="mastfoot">
            <div class="inner">
              <p>Cover template for <a href="http://getbootstrap.com">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>
            </div>
          </div>

        </div>

      </div>

    </div>

   
